.grey{
    color: #9e9e9e;
}
.lightgrey{
    color: #d4d1d1;
}
.black{
    color:#131212;
}
.white{
    color: #ffffff;
}
.green{
    color:green;
}
.red{
    color:#f71600;
}
.btn-sign-up-clr{
    color: #484646;
}
.blue{
    color: #487bcc;
}
.red{
    color:#f23232;
}
.bg-blue{
    background-color: #4285f4;
}
.bg-pink{
    background-color: #ea4c89;
}
.bg-gray{
    background-color: #d4d1d1;
}
.bg-black{
    background-color: #131212;
}
.bg-seagreen{
    background-color: #c9f8be;
}
// Border
.bdblue{
    border: 1px solid #260eff;
}