/* Font Family */
.fnt-segoeui{
    font-family: SegoeUI;
}
.fnt-tahoma{
    font-family: Tahoma;
}
.fnt-roboto{
    font-family: 'Roboto', sans-serif;
}
/* Font Weight */
.fnt-weight-400{
    font-weight:400;
}
.fnt-weight-500{
    font-weight:500;
}
.fnt-weight-600{
    font-weight:600;
}
.fnt-weight-700{
    font-weight: 700;
}
.fnt-weight-800{
    font-weight: 800;
}
/* Font Sizes */
.fnt-size-35{
    font-size: 35px;
}
.fnt-size-29{
    font-size: 29px;
}
.fnt-size-25{
    font-size:25px;
}
.fnt-size-24{
    font-size:24px;
}
.fnt-size-20{
    font-size:20px;
}
.fnt-size-15{
    font-size:15px;
}
.fnt-size-18{
    font-size: 18px;
}
.fnt-size-13{
    font-size:13px;
}
.fnt-size-40{
    font-size: 40px;
}
.fnt-size-60{
    font-size: 60px;
}